<p-table
  #dt
  [value]="tasks$ | async"
  [globalFilterFields]="['title','text']">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i
        class="fa fa-search"
        style="margin:4px 4px 0 0"></i>
      <input
        type="text"
        pInputText
        size="50"
        placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Text</th>
      <th>
        Is In Progress
        <p-dropdown
          [options]="[{label: 'True', value: true},{label: 'False', value: false}]"
          [style]="{'width':'100%'}"
          (onChange)="dt.filter($event.value, 'isInProgress', 'equals')"></p-dropdown>
      </th>
      <th>Is Complete</th>
      <th>Is Favorite</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-task>
    <tr>
      <td>{{ task.guid }}</td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              #title
              pInputText
              type="text"
              (change)="updateTitle(task, title.value)">
          </ng-template>
          <ng-template pTemplate="output">{{ task.title }}</ng-template>
        </p-cellEditor>
      </td>
      <td>{{ task.text }}</td>
      <td>{{ task.isInProgress }}</td>
      <td>{{ task.isComplete }}</td>
      <td>{{ task.isFavorite }}</td>
    </tr>
  </ng-template>
</p-table>
